*.un~
*.ps1~
Transcripts
Scratches
Modules/*
!Modules/*.psm1
!Modules/Get-Icon
!Modules/Get-GitHubSubFolderOrFile
!Modules/Loop-Enable-Hotspot
!Modules/Set-WindowState
!Modules/Find-WordPosition
!Modules/Read-Files
!Modules/Async
!Modules/Npm
profile.ps1
.idea
Help
.aider*
